<mat-sidenav-container class="container">
    <!-- Side navigation -->
    <mat-sidenav mode="side" opened>
      <!-- Sidenav content -->
      <mat-nav-list>
        <div>
        <a class="cursor" mat-nav-item (click)="home()">
          <mat-icon>home</mat-icon>
          Home
        </a>
        </div>
       
    <div>
        <a class="cursor" mat-nav-item  (click)="logout()">
          <mat-icon>logout</mat-icon>
          Logout
        </a>
    </div>
      </mat-nav-list>
    </mat-sidenav>
  
    <!-- Main content -->
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>